*{
  margin: 0;
}

.app{
  background-color: #fafafa;

}

.app_header{
  position: sticky;
  top:0;
  z-index:1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.username{
  margin-left: 20px;
  font-size: 25px;
}
.app_posts{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.app_postsRight{
  margin-left: 20px;
  border: 1px solid lightgrey;
  width:400px;
  height: 100px;
  display: flex;
  padding: 0 20px;
  color: lightgray;
  align-items: center;
}
.app_headerImage{ 
  width: 150px;
  padding: 0 !important;
}
.app_signup{
  display: flex;
  flex-direction: column;
}